Django==5.2.4
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
django-cors-headers==4.7.0
django-filter==2.3.0
django-storages==1.10.1
django-extensions==3.0.9
gunicorn==25.2.0
psycopg2-binary==2.9.10
dj-database-url==3.1.2
pillow==11.3.0
celery==5.5.3
redis==6.4.0
kombu==5.5.4
amqp==5.3.1
billiard==4.2.1
vine==5.1.0
mercadopago==2.3.0
httpx==0.28.1
requests==2.32.5
python-dotenv==1.1.1
python-decouple==3.3
boto3==1.40.23
botocore==1.40.23
s3transfer==0.13.1
jmespath==1.0.1
transformers
openai
anthropic
selectolax==0.4.1
lxml==6.0.1
openpyxl==3.0.7
sentry-sdk==1.39.1
PyJWT==2.9.0
cryptography==3.4.8
pytz==2021.1
sqlparse==0.5.3
asgiref==3.9.0
anyio==4.10.0
httpcore==1.0.9
h11==0.16.0
h2==4.3.0
hpack==4.1.0
hyperframe==6.1.0
certifi==2025.8.3
charset-normalizer==3.1.0
idna==3.10
urllib3==2.5.0
packaging==25.0
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
prompt_toolkit==3.0.52
wcwidth==0.2.13
tzdata==2025.2
typing_extensions==4.14.1
